@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,300;0,400;0,600;0,700;1,300;1,400&display=swap");

@layer components {
  #projects-container::-webkit-scrollbar {
    display: none;
  }
  ::-webkit-scrollbar-track {
    @apply bg-primary dark:bg-septary rounded-lg shadow-lg;
  }

  ::-webkit-scrollbar {
    @apply bg-primary dark:bg-septary;
    width: 12px;
  }

  ::-webkit-scrollbar-thumb {
    @apply bg-secondary rounded-lg shadow-lg hover:bg-secondary/[85%] active:bg-secondary/70;
  }
  h1 {
    @apply text-6xl font-bold text-quinary dark:text-primary drop-shadow-lg font-title;
  }
  p {
    @apply text-quaternary dark:text-nonary text-lg drop-shadow-lg font-body;
  }
  h2 {
    @apply text-septary dark:text-primary font-bold text-4xl drop-shadow-lg font-title;
  }
  h3 {
    @apply text-secondary font-bold text-2xl drop-shadow-lg font-title;
  }
  h4 {
    @apply text-primary text-sm drop-shadow-lg font-title;
  }
  input,
  textarea {
    @apply dark:text-white;
  }
  .btn1 {
    @apply bg-secondary text-primary transition-all duration-300 shadow-lg px-10 py-5 m-4 font-bold text-xl hover:scale-[1.02] active:scale-100;
    border-radius: 10px;
    border: none;
    cursor: pointer;
  }
  .btn2 {
    @apply btn1 rounded-full;
  }
  .btn3 {
    @apply text-septary dark:text-black rounded-lg bg-tertiary dark:bg-quaternary p-2 px-4 shadow-lg text-sm;
  }

  .topnav a {
    @apply font-bold float-right hover:scale-[1.05] active:scale-100 hover:text-secondary hover:underline decoration-2 text-lg my-auto mx-8;
    text-align: center;
  }
  .topnav-mobile a {
    @apply float-none py-4 m-0 shadow hover:scale-100;
  }

  html {
    scroll-behavior: smooth;
  }
  .nav-button-selected {
    @apply text-secondary;
  }

  .wrapper {
    @apply w-full;
  }

  .container {
    @apply py-10 mx-auto w-auto px-4 text-center;
    display: block;
  }

  input:required:invalid,
  input:focus:invalid,
  textarea:required:invalid {
    background-image: url("images/required.png");
    background-size: 0.5rem;
    background-position: top 0.5rem right 0.5rem;
    background-repeat: no-repeat;
    -moz-box-shadow: none;
  }
  input:required:valid,
  textarea:required:valid {
    background-image: url("images/check.png");
    background-size: 0.75rem;
    background-position: top 0.5rem right 0.5rem;
    background-repeat: no-repeat;
  }

  body {
    @apply bg-primary font-title pt-10 pb-40 bg-[url("images/mountains.svg")] dark:bg-[url("images/mountains-dark.svg")];
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
  }
  footer {
    @apply bg-quinary;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 10rem;
    padding: 20px;

    font-size: x-large;
    text-align: center;
  }

  .skills > div > img {
    @apply w-8 m-auto drop-shadow;
  }
  .skills > div > p {
    @apply text-sm text-primary text-center font-title;
  }
  .skills > div {
    @apply bg-eleventhry font-bold rounded-md text-base m-2 w-20 h-20 p-2;
    display: flex;
    flex-direction: column;
    align-content: space-between;
  }

  .highlight-tag {
    @apply bg-secondary scale-105 dark:bg-secondary text-primary text-sm rounded-md p-2 m-1 shadow-lg;
  }
  .socials {
    @apply text-secondary text-center text-3xl p-2;
  }
  .socials > a {
    @apply p-2;
  }
  .active-page {
    @apply text-secondary dark:!text-secondary font-bold;
  }

  .card__overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 2;
    transform: translateY(100%);
    transition: 0.2s ease-in-out;
    @apply bg-white dark:bg-septary;
  }

  .card:hover .card__overlay {
    transform: translateY(0);
  }
  .card:hover .tag {
    visibility: visible;
  }
  .tag {
    visibility: hidden;
  }

  .card__header {
    @apply text-primary p-4 bg-white dark:bg-septary;
    transform: translateY(-100%);
    transition: 0.2s ease-in-out;
  }

  .card:hover .card__header {
    transform: translateY(0);
  }
}

footer > * {
  margin: 10px;
}

.flip-in-ver-right {
  -webkit-animation: flip-in-ver-right 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94)
    both;
  animation: flip-in-ver-right 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}
@-webkit-keyframes flip-in-ver-right {
  0% {
    -webkit-transform: rotateY(-80deg);
    transform: rotateY(-80deg);
    opacity: 0;
  }
  100% {
    -webkit-transform: rotateY(0);
    transform: rotateY(0);
    opacity: 1;
  }
}
@keyframes flip-in-ver-right {
  0% {
    -webkit-transform: rotateY(-80deg);
    transform: rotateY(-80deg);
    opacity: 0;
  }
  100% {
    -webkit-transform: rotateY(0);
    transform: rotateY(0);
    opacity: 1;
  }
}

.blink {
  animation: blink-animation 1s steps(2, start) infinite;
  -webkit-animation: blink-animation 1s steps(2, start) infinite;
}
@keyframes blink-animation {
  to {
    visibility: hidden;
  }
}
@-webkit-keyframes blink-animation {
  to {
    visibility: hidden;
  }
}

.slide-in-right {
  -webkit-animation: slide-in-right 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94)
    both;
  animation: slide-in-right 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@-webkit-keyframes slide-in-right {
  0% {
    -webkit-transform: translateX(1000px);
    transform: translateX(1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes slide-in-right {
  0% {
    -webkit-transform: translateX(1000px);
    transform: translateX(1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}

.slide-out-right {
  -webkit-animation: slide-out-right 0.5s cubic-bezier(0.55, 0.085, 0.68, 0.53)
    both;
  animation: slide-out-right 0.5s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
}

@-webkit-keyframes slide-out-right {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateX(1000px);
    transform: translateX(1000px);
    opacity: 0;
  }
}
@keyframes slide-out-right {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateX(1000px);
    transform: translateX(1000px);
    opacity: 0;
  }
}
