@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  @keyframes blink {
    0%,
    49% {
      opacity: 1;
    }
    50%,
    100% {
      opacity: 0;
    }
  }

  .blink {
    animation: blink 1s steps(1) infinite;
  }

  html {
    @apply scroll-smooth;
  }

  /* Width and height for the scrollbar track and thumb */
  ::-webkit-scrollbar {
    width: 10px;
    height: 10px;
  }

  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }

  /* Thumb */
  ::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 5px;
  }

  /* On hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }
}
